<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/CSS/index.css" />
    <title>Select Language</title>
  </head>
  <body>
    <div class="logo">
      <b>Help</b>
    </div>
    <center>
      <div class="box1">
        <img class="box" src="../static/image 4.png" alt="" title="WElcome" />
        <h1 class="text"><strong>SELECT THE</strong></h1>
        <h1 class="text1"><strong>LANGUAGES</strong></h1> 
      </div>
      <img class="kids" src="../static/image _3.jfif" alt="" />
      <div class="container" style="margin: -24px">
      
        <div>
          <form action="./options">
          <button class="EToH" target="_blank"><strong><h3>ENGLISH AND MARATHI</h3></strong></button>
          </form>
        </div>
        <div>
          <button class="EToM" onclick="location.href='./options/hindi'"><strong><h3>ENGLISH AND HINDI</h3></strong></button>
        </div>
      </div>
    </center>
  </body>
</html>
